<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Users</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/users.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <table>
            <tr>
                <th>username</th>
                <th>email</th>
            </tr>
            <tr>
                <td>Raphael</td>
                <td>raphael@gmail.com</td>
            </tr>
            <tr>
                <td>Michelangelo</td>
                <td>michelangelo@gmail.com</td>
            </tr>
            <tr>
                <td>Leonardo</td>
                <td>leonardo@gmail.com</td>
            </tr>
            <tr>
                <td>Donetello</td>
                <td>donetello@gmail.com</td>
            </tr>
            <tr>
                <td>Splinter</td>
                <td>splinter@gmail.com</td>
            </tr>
            <tr>
                <td>Shredder</td>
                <td>shredder@gmail.com</td>
            </tr>
        </table>
    </body>
</html>